body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: 0; 
    background-color: royalblue;
}
/* this is where I specify the characteristics of my playing field  */
#gameBoard {
    background-color: #ccc;
    width: 75vmin;
    height: 75vmin;
    display: grid;
    border: solid black;
    /* below allows my grid to stay 21 grids of equal sizes regardless of what device I am using */
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

/* My snake and my food attributes are down below */
.snake{
    background-color: hsl(1,100%,50%);
    border: .25vmin solid black;    
}

.food{
    background-color: hsl(240,100%,50%);
    border: .25vmin solid black;
}
